<div class="row">

    <div class="col-md-6">

        <head>

            {{!-- <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cultured Cuisines</title>
            <link rel="stylesheet" href="./public/css/signin.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet"> --}}

        </head>

        <body>

            <form class="sign-up-form">

                <div id="sign-up">

                    <div class="create-account">
                        <h1>Create account</h1>
                        <div id="already"><small>Already have an account? <a href="/signin">Sign in</small></a></div>
                    </div>

                    <div id="create" class="col-12 col-md-12 col-lg-12">

                        <div id="first-name-container">
                            <label for="first-name"></label>
                            <input type="text" id="first-name" placeholder="First name">
                        </div>

                        <div id="last-name-container">
                            <label for="last-name"></label>
                            <input type="text" id="last-name" placeholder="Last name">
                        </div>

                        <div id="sign-up-email-container">
                            <label for="sign-up-email"></label>
                            <input type="text" id="sign-up-email" placeholder="Email">
                        </div>

                        <div id="sign-up-password-container">
                            <label for="sign-up-password"></label>
                            <input type="password" id="sign-up-password" placeholder="Password">
                        </div>

                        <div id="confirm-password-container">
                            <label for="confirm-password"></label>
                            <input type="password" id="confirm-password" placeholder="Confirm password">
                        </div>

                    </div>

                    <div>
                        <button id="create-button">Create account</button>
                    </div>

                </div>

            </form>

        </body>

    </div>

</div>

<script src="/public/js/signup.js"></script>