<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cultured Cuisines</title>
      <link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@2.4.12/dist/css/splide.min.css">
      <link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@2.4.12/dist/css/themes/splide-default.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/reset.css">
      <link rel="stylesheet" href="/css/signin.css">
      <link rel="stylesheet" href="/css/style.css">
  </head>

<body>

  <div class="row">

    <div class="col-md-6">

      <form class="sign-in-form">

        <div id="sign-in">

          <div id="sign-in-phrase">
            <div id="view-recipes"><small>To view the recipes...</small></div>
            <h1>Sign in</h1>
          </div>

          <div id="sign-in-information">

            <div id="sign-in-email-container">
              <label for="sign-in-email"></label>
              <input type="text" id="sign-in-email" placeholder="Email">
            </div>

            <div id="sign-in-password-container">
              <label for="sign-in-password"></label>
              <input type="password" id="sign-in-password" placeholder="Password">
            </div>

          </div>

          <button id="sign-in-button">Sign in</button>

          <div id="sign-up-phrase"><small>Don't have an account? <a href="/signup">Sign up</small></a></div>

        </div>

      </form>

    </div>

  </div>

  <script src="/js/signin.js"></script>

</body>

</html>