<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultured Cuisines</title>
    <link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@2.4.12/dist/css/splide.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@2.4.12/dist/css/themes/splide-default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="row">

        <div class="col-md-6">

            <form class="sign-up-form">

                <div id="sign-up">

                    <div class="create-account">
                        <h1>Create account</h1>
                        <div id="already"><small>Already have an account? <a href="/signin">Sign in</small></a></div>
                    </div>

                    <div class="create">

                        <div class="name">
                            <div id="first-name-container">
                                <label for="first-name"></label>
                                <input type="text" id="first-name" placeholder="First name">
                            </div>


                            <div id="last-name-container">
                                <label for="last-name"></label>
                                <input type="text" id="last-name" placeholder="Last name">
                            </div>
                        </div>

                        <div id="sign-up-email-container">
                            <label for="sign-up-email"></label>
                            <input type="text" id="sign-up-email" placeholder="Email">
                        </div>

                        <div class="password">
                            <div id="sign-up-password-container">
                                <label for="sign-up-password"></label>
                                <input type="password" id="sign-up-password" placeholder="Password">
                            </div>

                            <div id="confirm-password-container">
                                <label for="confirm-password"></label>
                                <input type="password" id="confirm-password" placeholder="Confirm password">
                            </div>
                        </div>

                    </div>

                    <div>
                        <button id="create-button">Create account</button>
                    </div>

                </div>

            </form>

        </div>

    </div>

    <script src="/js/signup.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="https://unpkg.com/@splidejs/splide@2.4.12/dist/js/splide.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  {{#if signed_in}}
  <script src="/js/signout.js"></script>
  {{/if}}

</body>

</html>