<div class="row">

  <div class="col-md-6">

    {{!-- <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cultured Cuisines</title>
      <link rel="stylesheet" href="./public/css/signin.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">

    </head> --}}

    <body>

      <form class="sign-in-form">

        <div id="sign-in">

          <div id="sign-in-phrase">
            <div id="view-recipes"><small>To view the recipes...</small></div>
            <h1>Sign in</h1>
          </div>

          <div id="sign-in-information">

            <div id="sign-in-email-container">
              <label for="sign-in-email"></label>
              <input type="text" id="sign-in-email" placeholder="Email">
            </div>

            <div id="sign-in-password-container">
              <label for="sign-in-password"></label>
              <input type="password" id="sign-in-password" placeholder="Password">
            </div>

          </div>

          <button id="sign-in-button">Sign in</button>

          <div id="sign-up-phrase"><small>Don't have an account? <a href="/signup">Sign up</small></a></div>

        </div>

      </form>

    </body>

  </div>

</div>

<script src="./js/signin.js"></script>