#homepage {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#otherCuisines {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
}

.oc-heading {
    width:100%;
}

@media only screen and (max-width: 768px) {
    .cuisine {
        display: table;
    }

    .cuisine-container {
        flex-direction: column;
        align-items: center;
    }
}

.cuisine-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cuisine {
    width: 25%; 
    box-sizing: border-box;
    margin-bottom: 30px; 
    margin-right: 2%; 
    border: 2px solid black;
    border-radius: 15px;
    padding: 2px 5px;
    background-color: #f9f9f9;
}

.cuisine img {
    width: 100%;
    max-height: 200px;
    /* object-fit:contain; */
    border-radius: 10px;
}

.cuisine-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.explore-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.cuisine-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

  .navbar-brand, .nav-link{
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover {
    color: orange !important;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#image-carousel {
    width: 100%;
}
.splide__slide img {
    width: 40%;
    height: auto;
  }