#homepage {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#homepage h1 {
    margin-bottom: 40px;
}

#otherCuisines {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
}

.oc-heading {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .cuisine {
        min-width: fit-content;
    }

    .cuisine-container {
        flex-direction: column;
        align-items: center;
    }
}

.cuisine-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cuisine {
    width: 25%;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 25px;
    margin: 25px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cuisine h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.cuisine img {
    width: 100%;
    max-height: 200px;
    /* object-fit:contain; */
    border-radius: 10px;
}

.cuisine-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.explore-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bolder;
}

.cuisine-info {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.navbar-brand,
.nav-link {
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover {
    color: orange !important;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#image-carousel {
    width: 100%;
}

.splide__slide img {
    width: 40%;
    height: auto;
}

/* this is for the recipes */
.recipe-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 100%;
}

.right-side {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 25px;
    margin: 25px;
    text-align: center;
    max-width: 50%;
}

.ingredients {
    margin: 5px 0;
    width: 50%
}

.ingredients ul {
    text-align: justify;
}

.ingredients li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.ingredients ul li:first-child {
    margin-top: 25px;
}

.ingredients ul li:last-child {
    margin-bottom: 50px;
}

.left-side {
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 25px;
    margin: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side h2 {
    font-size: 32px;
    text-align: center;
}

.ingredients-section ul {
    text-align: left;
    display: inline;
}

.ingredients-section ul li {
    display: inline;
    margin-right: 20px;
}

.region-section {
    background-color: #f9f9f9;
}

.cuisine-name {
    margin: 15px 0;
    font-weight: bold;
}

.image-container {
    text-align: left;
    padding: 10px 0px 0 0;
}

.image-container img {
    transform: scale(2);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.content {
    font-size: 20px;
    width: 45%;
    justify-content: center;
}

.bottom {
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 0 40px;
}

.bottom p {
    text-align: left;
}

.bottom2 {
    text-align: center;
    margin-top: 40px;
    padding: 0 40px;
}

.bottom2 p {
    text-align: left;
}

@media only screen and (max-width:768px) {
    .container {
        display: flex;
        width: 90%;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-side {}

    .right-side {}
}